/* styles that apply globally */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color that applies to everything within the body */
body {
    background-color: #d9dcd6;
}

/* Specifies the spacing, font, and colors of the header where the navigation bar is*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Makes the Horiseon company name stand out with bigger text */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the "seo" within the Horiseon name to a different color */
header h1 .seo {
    color: #d9dcd6;
}

/* Gives the specific navigation elements spacing, placement, font, and size */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* It's possible this is isn't necessary because the list items are displayed as inline-block */
header nav ul {
    list-style-type: none;
}

/* Puts the list items into a blocked line instead of them stacking on top of each other */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Keeps the links white and not underlined in appearance even after being clicked */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Makes all p elements 16px */
p {
    font-size: 16px;
}

/* Targets the figure container to be a specific height and width on the page */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/* Tells the image itself how to behave within the container */
figure img {
    object-fit: cover;
}

/* Tells the images in this class to float to the left within the container and defines its margins */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Tells the image in this class to float to the right within the container and defines its margins */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Tells the children of this class how much of the page to take up, how to behave in relation to the aside, and defines its margin on the left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Defines spacing of each div within the content class */
.content-type {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Defines the size of each image in the content class */
.content-type img {
    max-height: 200px;
}

/* Defines the margin and font size of the headings of each section */
.content-type h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Defines location of this aside, its margins, creates a clear fix from the floats within the main, font, and color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Defines the bottom spacing between each div */
.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Defines the space between the header and the image below, centers the text */
.benefit-type h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Tells the image how to display and defines the margins */
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Clear fix, spacing, and font */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Defines the font size of the heading within the footer */
footer h2 {
    font-size: 20px;
}